h1{
    font-size: 450%;
    font-family: 'georgia';
    color: rgb(181, 221, 255);
    text-align: center;
}
body{
    background-color: rgb(89, 163, 241);
}

header{
    background-color: aliceblue;
    padding: .1px;
}
article{
    background-color: white;
    float: left;
    padding: 46px;
    width: 27%;
}
aside{
    background-color: white;
    float: left;
    padding: 20px;
    text-align: left;
    width: 60%;
}
body{
    background-color: white;
}
.navbar {
    text-align: center;
    background-color:rgb(226, 241, 255);
    overflow: auto;
}
.navbar a{
    /* float: left; */
    padding: 30px;
    color: rgb(185, 185, 185);
    text-decoration: dashed;
    font-size: 17px;
    width: 33.3%;
}
li {
    display:inline;
    text-align: right;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
strong{
    color:rgb(157, 209, 255);
}
p{
    font-size: 24.5px;
    background-color: aliceblue;
    padding:7px;
    color:rgb(48, 48, 48);
}
h2{
    padding: 5px;
    color: rgb(181, 221, 255);
    background-color: aliceblue;
}
h3{
    text-align: center;
    font-size: 30px;
    color: rgb(157, 209, 255)
}
